<h1>Welcome to the Friend List Page</h1>

<ol>
	<% friends.forEach(function(friend) { %>
		<li><%= friend %></li>
	<% }) %>
</ol>

<form action="/" method="POST">
	<input type="text" name="friend" placeholder="Name of the Friend">
	<input type="submit">
</form>